.main {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    border: 1px solid black;
}

.oeuvres {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}